<h1>Create a new election group</h1>

<%= form_for @group, :url=> {:action => 'create'} do |f|%>
	<fieldset>
		<legend>Basic Info</legend>
		<label><h2>Group Name</h2>
			<%= f.text_field (:name) %>
		</label>
		<label><h3>Secretary's (your) email address</h3>
			<%= email_field_tag :admin_email %>
		</label>
	</fieldset>
	
	<fieldset>
		<legend>Election Rules</legend>
		<label>Daily Election
			<%= f.check_box :daily_election %>
		</label>
		<br/>
		<label>Polls Close
			<%= f.time_select :polls_close_utc %>
		</label>
		<br/>
		<label>Enable Snap Election
			<%= f.check_box :lightning %>
		</label>
		<caption>Allows 10 minutes of voting after poll close if no member voted in time.</caption>
		<br/>
		<label>No Repeat Winners
			<%= f.check_box :retire_for_week%>
		</label>
		<caption>Winners are ineligible for the remainder of the same week.</caption>
		
	</fieldset>
	<%= submit_tag %>
<% end %>
