<h1>Create a new election group</h1>

<%= form_for @group, :url=>election_path do |f|%>
	<fieldset>
		<legend>Basic Info</legend>
		<label><h2>Group Name</h2>
			<%= f.text_field :name %>
		</label>
		<label><h3>Secretary's (your) email address</h3>
			<%= email_field_tag :admin_email %>
		</label>
	</fieldset>
	
	<fieldset>
		<legend>Election Rules</legend>
		<label>Daily Election
			<%= check_box_tag :is_daily, true %>
		</label>
		<br/>
		<label>Polls Close
			<%= time_select "prefs[poll_close_utc]", @group.pref(:poll_close_utc) %>
		</label>
		<br/>
		<label>Enable Snap Election
			<%= check_box_tag "prefs[lightning]", true||@group.pref(:lightning) %>
		</label>
		<caption>Allows 10 minutes of voting after poll close if no member voted in time.</caption>
		<br/>
		<label>No Repeat Winners
			<%= check_box_tag "prefs[retire_for_week]" %>
		</label>
		<caption>Winners are ineligible for the remainder of the same week.</caption>
		
	</fieldset>
	<%= submit_tag %>
<% end %>
